{% extends "admin/layout-admin.njk" %}

{% block content %}

<div class="card">
        <section class="image" style="background: url({{ recipe.image }}) no-repeat center center/ cover"></section>

        <section class="details">
           
            <form method="POST" action="/admin/recipes?_method=PUT">

                <h3>Editar Receita</h3>

                {% include 'admin/fields.njk' %}

                <input type="hidden" name="id" value={{recipe.id}}>

            </form>
       
            <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
                <input type="hidden" name="id" value={{recipe.id}}>
                <button type="submit">Deletar</button>
            </form>

        </section>
        
    </div>

    <script src="/scripts-admin.js"></script>


{% endblock content %}