{% extends "layout.njk" %}

{% block head %}    
<title>Receitas - Foodfy</title>
{% endblock head %}

{% block content %}

    <section class="foods">
    {% for recipe in recipes %}
        <div class="food" id={{recipe.id}}>
            <div class="card_image">
                <img src={{recipe.image}} alt="Imagem de {{recipe.title}}">
            </div>
            <div class="name_product">
                <p>{{recipe.title}}</p>
            </div>
            <div class="by">
                <p>{{recipe.cooker}}</p>
            </div>
        </div>
    {% endfor %}
    </section>

    <script src="/scripts.js"></script>

{% endblock content %}


